<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Omaha System: Terminologie übersetzen</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
    <div id="app">
        <nav class="main">
            <span class="brand">Omaha System: {{ languageMap.source }} > {{ languageMap.target }}</span>
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">&#8801;</label>
            <div class="menu">
                <div class="segmented-control" title="Darstellung" style="width: 13.9em; color: #0074d9">
                    <input type="radio" name="jsonview" id="jsonview-flat" value="flat" v-model="treePresentation">
                    <input type="radio" name="jsonview" id="jsonview-hierarchy" value="hierarchy" v-model="treePresentation">
                    <label for="jsonview-flat" data-value="Flach">Flach</label>
                    <label for="jsonview-hierarchy" data-value="Hierarchie">Hierarchie</label>
                </div>
                <div>
                <button @click="downloadTarget">Übersetzung herunterladen</button>
            </div>
            </div>
        </nav>
        <json-view :class="treePresentation" :data="terminology" :labels="labels" :max-depth="8" v-if="terminology"/>
    </div>
    <script src="/dist/bundle.js"></script>
</body>
</html>
